<style type="text/css">
    body {
        font-family: Arial;
    }
    table { 
        margin: 1em; 
        border-collapse: collapse; 
    }
    td, th { 
        padding: .3em; 
        border: 1px #ccc solid; 
    }
</style>

<ul>
    <li><a href="{{ path('author') }}">Authors List</a></li>
    <li><a href="{{ path('book') }}">Books List</a></li>
    <li><a href="{{ path('category') }}">Category List</a></li>
</ul>
